/* Screen less than (xs-default) ALL PHONES PORTRAIT*/
@media screen and (min-width: 0px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #444;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    max-width: 2400px;
    margin: 0 auto;  
  }
  
  .container > div {
    height: 210px;  
    background-size: cover;
    background-attachment: fixed;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    transition: all .2s ease-in;
    opacity: 0.85;
  }
  
  .container > div:hover {
    opacity: 1;
    transform: scale(0.98);
  }
  
  .container > div:nth-of-type(2) {
    order: -1;
  }
  
  .bg1 {
    background: url('../img/aerial_original.jpg');
    color: white;
  }
  .bg2 {
    background: url('../img/flight_original.jpg');
    color: black;
  }
  
  h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
  }
  
  h2 span {
    font-size: 30px;
  }
  
  p {
    font-size: 20px;
  }
}
/* Screen greater than (sm) SMALL TABLETS*/
@media screen and (min-width: 576px) {

}
/* Screen greater than (md) IPAD or TABLETS*/
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container > div:nth-of-type(2) {
    grid-column: span 2;
  }
  .container > div:nth-of-type(4) {
    grid-column: span 2;
  }
  
  .container > div:nth-of-type(9) {
    grid-column: span 2;
  }
  
  .container > div:nth-of-type(12) {
    grid-column: span 2;
  }
  .container > div:nth-of-type(13) {
    grid-column: span 2;
  }
}

/* Screen greater than (lg) LAPTOPS or DESKTOPS*/
@media screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .container > div:nth-of-type(2) {
    grid-column: span 2;
    order: 0;
  }
  .container > div:nth-of-type(4) {
    grid-column: span 2;
  }
  
  .container > div:nth-of-type(9) {
    grid-column: span 2;
  }
  
  .container > div:nth-of-type(12) {
    grid-column: span 2;
  }
  .container > div:nth-of-type(13) {
    grid-column: span 2;
  }
}

/* Screen greater than (xl) 1200px*/
@media screen and (min-width: 1200px) {

}